h1{
    font-size:50px;
}
h2{
    color:red;
}
ul{
    font-size: large;
    font-weight:bold;
}
li{
    list-style-type: none;
    font-size: 25px;
    
}
li:hover{
    font-size: 30px;
}

p{
    font-size:25px;
}
html{
    background: #183b1d;
    background: linear-gradient(157deg,rgba(24, 59, 29, 1) 0%, rgba(36, 138, 80, 1) 58%, rgba(20, 51, 36, 1) 100%);
    color:white;
}
body{
    background: #183b1d;
    background: linear-gradient(157deg,rgba(24, 59, 29, 1) 0%, rgba(36, 138, 80, 1) 58%, rgba(20, 51, 36, 1) 100%);
    color:white;
}
.skillslist{
    margin-top: 2px;
    color:black;
    font-size: 25px;
      
}
.skills{
    display: inline-block;
    font-size: 40px;
}

.main-photo{
    height: 250px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgb(92, 92, 92);

    border-color: red;
    border-style: solid;
    border-width: 3px;
}
.secondary-photo{
    height: 350px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgb(92, 92, 92);

    border-color: red;
    border-style: solid;
    border-width: 3px;
}

.Logo{
    height: 50px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgb(92, 92, 92);
    background: white;
    border-color: red;
    border-style: solid;
    border-width: 3px;
}

.Banner-photo:hover{
    height: 260px;
    border-radius: 15px;
    border-color: green;
}
.Banner-photo{

    height: 250px;
    border-radius: 10px;
   
    border-color: #369f15;
    border-style: solid;
    border-width: 3px;
}

#Home{
    font-size: 25px;
}
#Home:hover{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: red;
    font-size: 25px;
}

a:hover{
    color: black;
    font-size: 30px;
}

#name{
    margin-top: 5px;
}

.GameName{
    color: white;
    font-size: 30px;
    
}
.GameName:hover{
    color: red;
    font-size: 35px;
    font-weight: bold;
}

.TextBacground1{
    display: inline-block;
    background: white;
    height: fit-content;
    width: fit-content(300px);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border-color: red;
    border-style: solid;
    border-width: 3px;
    box-shadow: 12px 12px 2px 1px rgb(92, 92, 92);
    color:red;
}


.TextBacground2{
    background: #173b17;
    border-color: #36a015;
    color: #36a015;
    box-shadow: 12px 12px 2px 1px rgb(0, 0, 0);
    display: inline-block;
    height: fit-content;
    width: fit-content(300px);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
}
.outer{
    text-align: center;
}
.inner{
    display: inline-block;
}

abbr{
    text-decoration: none;
}